/** ==================== Globales ==================== */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #c37e7e;
  color: #000;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.header p {
  font-size: 50px;
  text-align: center;
  padding: 20px 0;
}
.contenedor {
  width: 90%;
  max-width: 1000px;
  border: 10px solid #000;
  margin: auto;
  font-size: 50px;
  line-height: 50px;
  /* text-align: center; */
  /* display: flex;
  align-items: center; */
}
.contenedor div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: rgb(66, 42, 56);
  background: #2f89fc;
  box-shadow: 2px 2px 10px rgb(66, 42, 56);
  /* border-bottom: 1px solid #000; */
}
